#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<div class="container-fluid">
	<div class="row-fluid">
		<!-- 
			choice ManuallyCreateCV { 
				// imply menu ManuallyCreateCV {} 
				model {
					cv = (),
					statuses = ( all CVStatus )
				}
				
				
				controller {
					save(cv) { 
						service.CV.save(cv);
					}
				}
				form  {
					input(cv.firstName, size="30", maxlength="30"),
					input(cv.lastName , size="30", maxlength="30"),
					input_multiple(cv.experiences),
					search(cv.certifications),
					selectbox(cv.status,statuses),
					output(cv.previousStatus)
				}
				button( action = save(cv) )
			}
			-->

		<label class="control-label" for="cv.firstName"> <small>CV.ui.ManuallyCreateCV.form.cv.firstName</small></label>
		<div class="controls">
			<input type="text" ng-model="cv.firstName" id="cv.firstName">
		</div>

		<label class="control-label" for="cv.lastName"> <small>CV.ui.ManuallyCreateCV.form.cv.lastName</small></label>
		<div class="controls">
			<input type="text" ng-model="cv.lastName" id="cv.lastName">
		</div>
		
		<label class="control-label" for="cv.status"><small>CV.ui.ManuallyCreateCV.form.cv.status</small></label>
		<div class="controls">
			<select id="cv.status" ng-model="cv.status" ng-options="status.name for status in statuses" value="{{selectedStatus.name}}" />
		</div>
		
		<label class="control-label" for="cv.previousStatus"> <small>CV.ui.ManuallyCreateCV.form.cv.previousStatus</small></label>
		<div class="controls">
			{{cv.previousStatus}}
		</div>
		
		<div swdl-search="cv.certifications" />
		
		<div class="form-actions">
			<button type="button" id="saveButton" ng-click="save()"
				class="btn btn-primary">Save</button>
			<button type="button" id="cancelButton" ng-click="cancel()"
				class="btn btn-primary">Cancel</button>
		</div>

		
	</div>
</div>