#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<div>
	<div class="control-group">
		<label class="control-label">Start date</label>
 		<input type="text" ng-model="selectedValue.startDate" date-format="dd/mm/yyyy" datepicker  ng-change="${symbol_dollar}emit('dirty')">
	</div>

	<div class="control-group">
		<label class="control-label">End date</label> 
		<input type="text" ng-model="selectedValue.endDate" date-format="dd/mm/yyyy" datepicker  ng-change="${symbol_dollar}emit('dirty')">
	</div>
	

	<div class="control-group">
		<label class="control-label" for="role">High school</label> 
		<input type="text" name="role" ng-model="selectedValue.highSchool" ng-change="${symbol_dollar}emit('dirty')"/>
	</div>

	<div class="control-group">
		<label class="control-label" for="desc">University</label> 
		<input type="text" name="desc" ng-model="selectedValue.university" ng-change="${symbol_dollar}emit('dirty')"/>
	</div>
	
</div>