@import url("datepicker.css");

@import url("bootstrap.css");

.relative {
	position: relative;
}

div.reset-width {
	max-width: none;
}

div.padBottom {
	padding-bottom: 20px;
}

.btn-file {
	position: relative;
	overflow: hidden;
	vertical-align: middle;
}

.btn-file>input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	font-size: 23px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity =   0);
	transform: translate(-300px, 0) scale(4);
	direction: ltr;
}

.dropdown-menu > li > a.clearnone {
	clear: none;
}

.dropdown-menu.no-hover-color > li >a:hover {
	color: #333333;
	text-decoration: underline;
	background-color: white;
	background-image: none;
}


.pad-content {
	padding: 0px 16px 18px 5px;
}

.edited:before {
	content: '*';
}

.form-search.open {
	z-index: 1010;
}

.fixed-width12 {
	width: 940px;
}

.fixed-width11 {
	width: 860px;
}

.fixed-width10 {
	width: 780px;
}

.fixed-width9 {
	width: 700px;
}

.fixed-width8 {
	width: 620px;
}

.fixed-width7 {
	width: 540px;
}

.fixed-width6 {
	width: 460px;
}

.fixed-width5 {
	width: 380px;
}

.fixed-width4 {
	width: 300px;
}

.fixed-width3 {
	width: 220px;
}

.fixed-width2 {
	width: 140px;
}

.fixed-width1 {
	width: 60px;
}