
<ul id="masterDetailButtons">
	<li class="actionItem"><button type="button" class="btn" title="Back" ng-disabled="history.canNotGoBack()" ng-click="back()">Back</button></li>
	<li class="actionItem"><button type="button" class="btn" title="Forward" ng-disabled="history.canNotGoForward()" ng-click="forward()"><span>Forward</span></button></li>
	<li class="actionItem"><button type="button" class="btn" title="Link with editor" ng-click="linkWithZoomItem()"><span>Link with editor</span></button></li>
	<li class="actionItem"><button type="button" class="btn" title="Refresh" ng-click="refresh()"><span>Refresh</span></button></li>
</ul>